/*Перша секція "замовити послугу"*/

.try-us-hero {
    display: flex;
    justify-content: center;
    background-size: cover;
    background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/HW4/heroimg.jpg);
    background-color: var(--button-portfolio-color); 
  }
  .tryheader {
    padding: 118px 60px;
    @include tablet {
      padding: 118px 204px;
    }
    @include desktop {
      padding: 200px 452px;
    }
  }
  .hero-header-class {
    font-style: normal;
    margin-bottom: 40px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);

    // @include desktop { 
    // margin-left: 235px;
    // margin-right: 235px;
    // margin-top: 0;
    // margin-bottom: 30px;
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.36;
    // text-align: center;
    // letter-spacing: 0.06em;
    // color: var(--white-color);
    // text-transform: uppercase;
    // }
    
  }
  .try-button {
    display: block;
    margin: 0 auto;
    padding: 10px 32px 10px 32px;
    align-items: center;
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    justify-content: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background: var(--try-button-focus);
    }
  }
  